[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
gunicorn = "*"
nltk = "*"
tqdm = "*"
xgboost = "*"
flask = "*"
pydantic = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
